@media (min-width: 815px) and (max-width: 1200px) {
  .versus-head {
    max-width: 1000px;
  }
}

@media (min-width: 700px) and (max-width: 815px) {
  .versus-head {
    max-width: 800px;
  }
  .work-link img:hover {
    padding: 10px;
    width: 300px;
    height: 225px;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .versus-headV2 {
    display: none;
  }

  .versus-headV3 {
    display: block;
  }

  .work-link img:hover {
    padding: 10px;
    width: 300px;
    height: 225px;
  }

  .versus-head {
    max-width: 300px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  /* .versus-headV2 {
    display: grid;
    width: 390px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
  } */
  .versus-head span {
    font-size: 32px;
  }
  .versus-headV2 p {
    font-size: 18px;
  }
  .versus-headV2 span {
    font-size: 18px;
  }
  .versus-body {
    font-size: 40px;
  }
  .versus-body button {
    width: 140px;
    height: 40px;
  }

  /* == */

  /* == */

  /* Оформление панели */
  #side-checkbox {
    display: none;
  }
  .side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #337ab7;
    transition: all 0.5s;
    width: 250px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 40px 20px;
  }

  .side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #bfe2ff;
  }
  /* Оформление кнопки на странице */
  .side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
  }
  .side-button-1 {
    display: inline-block;
  }
  .side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto", Тahoma, sans-serif;
    background: #337ab7;
    cursor: pointer;
    border: 2px solid #bfe2ff;
  }
  .side-button-1 .side-b:hover,
  .side-button-1 .side-b:active,
  .side-button-1 .side-b:focus {
    color: #fff;
  }
  .side-button-1 .side-b:after,
  .side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
  }
  .side-button-1 .side-open:after,
  .side-button-1 .side-open:before {
    background: green;
  }
  .side-button-1 .side-close:after,
  .side-button-1 .side-close:before {
    background: red;
  }
  .side-button-1 .side-b:before {
    top: -6px;
  }
  .side-button-1 .side-b:hover:after,
  .side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
  }
  /* Переключатели кнопки 1 */
  .side-button-1 .side-close {
    display: none;
  }
  #side-checkbox:checked
    + .side-panel
    + .side-button-1-wr
    .side-button-1
    .side-open {
    display: none;
  }
  #side-checkbox:checked
    + .side-panel
    + .side-button-1-wr
    .side-button-1
    .side-close {
    display: block;
  }
  #side-checkbox:checked + .side-panel {
    left: 0;
  }
  /* Оформление кнопки на панеле */
  .side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #bfe2ff;
    transition: all 280ms ease-in-out;
  }
  .side-button-2:hover {
    transform: rotate(45deg) scale(1.1);
    color: #fff;
  }
}
