@media (min-width: 815px) and (max-width: 1200px) {
  .versus-head {
    max-width: 1070px;
  }
}

@media (min-width: 700px) and (max-width: 815px) {
  .versus-head {
    max-width: 800px;
  }
  .work-link img:hover {
    padding: 10px;
    width: 300px;
    height: 225px;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .work-link img:hover {
    padding: 10px;
    width: 300px;
    height: 225px;
  }

  .versus-head {
    max-width: 350px;
    align-items: center;
    text-align: center;
  }
  .versus-headV2 {
    display: grid;
    width: 390px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
  }
  .versus-head span {
    font-size: 32px;
  }
  .versus-headV2 p {
    font-size: 18px;
  }
  .versus-headV2 span {
    font-size: 18px;
  }
  .versus-body {
    font-size: 40px;
  }
  .versus-body button {
    width: 140px;
    height: 40px;
  }
}
